.header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $wheat;
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__avatar {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__photo {
    img {
      padding: 5px;
      width: 150px;
      height: 150px;
      border: solid $grey;
      border-top-width: 0;
      border-bottom-width: 10px;
      border-right-width: 10px;

      border-radius: 50%;

    }
  }
  &__text {

  }
  &__name {

  }
  &__subtitle {
    span {
      color: $main-color;
    }

  }
  &__contacts {

  }
  &__list {
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 0;


  }
  &__item {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 20px;
    font-size: 32px;

  }
  &__link {

  }
}